/*variables*/
$primary-color: #222;
$secondary-color: darkslategray;
$primary-fonts: "Satisfy", serif;
$secondary-fonts: Verdana, Geneva, Tahoma, sans-serif; 
$imagen-fondo: url(/images/fondo2.jpeg);
$color-fondo: #fff;
$grosor-fonts: bold;
$color-hover: darkmagenta;
$abajo-page: flex-end;